
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1499161074790'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1499161074790#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1499161074790') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1499161074790') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1499161074790#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinwen:before { content: "\e641"; }

.icon--fangdajing:before { content: "\e602"; }

.icon--shanchu:before { content: "\e603"; }

.icon--jiantouyou:before { content: "\e604"; }

.icon--fangshier:before { content: "\e605"; }

.icon--jiantouxia:before { content: "\e606"; }

.icon--fangshiyi:before { content: "\e607"; }

.icon--zhengyan:before { content: "\e608"; }

.icon--gongshangbaoxian:before { content: "\e609"; }

.icon--yiliaobaoxian:before { content: "\e60a"; }

.icon--yanglaocesuan:before { content: "\e60b"; }

.icon--shiyebaoxian:before { content: "\e60c"; }

.icon--shengyubaoxian:before { content: "\e60d"; }

.icon--xuanzexianzhong-hui:before { content: "\e60e"; }

.icon--yanglaobaoxian:before { content: "\e60f"; }

.icon--xuanzeyuefen-hui:before { content: "\e610"; }

.icon--xuanzeyuefen-lan:before { content: "\e611"; }

.icon--xuanzexianzhong-lan:before { content: "\e612"; }

.icon--jiaofeijieguo-lan:before { content: "\e613"; }

.icon--jiaofeichenggong:before { content: "\e614"; }

.icon--jiaofeijieguo-hui:before { content: "\e615"; }

.icon--zaixianzhifu-hui:before { content: "\e616"; }

.icon--yonghuming:before { content: "\e617"; }

.icon--zaixianzhifu-lan:before { content: "\e618"; }

.icon--shanchu1:before { content: "\e619"; }

.icon--mima:before { content: "\e61a"; }

.icon--dengluLOGO:before { content: "\e61b"; }

.icon--zanweiquhao:before { content: "\e61c"; }

.icon--quhaochenggong:before { content: "\e61d"; }

.icon--biyan:before { content: "\e61e"; }

.icon-xinwen1:before { content: "\e61f"; }

