#parse("/include/header.vm")
<title>房车品牌列表</title> 

</head>

<body class="bg-color-3c3c3c">
<div class="container mb0">

<!--品牌专区-->
    <div class="row text-center">	  
		<div class="box-list-three box-list-three7">	
			 #if ($vehicleBrandList.size()>0)
				 #foreach($vehicleBrand in $vehicleBrandList)
				 <div class="box-list-three-main">
					 <div class="box-list-three-main-box">
					    <a href="${ctxPath}/vehicle/enjoy/TVehicleListAction.do?vehicleBrandId=$!{vehicleBrand.id}">	
							<p><img src="${strUtil.uploadPath($!{vehicleBrand.cover})}" class="height100" /></p>
							<h5><strong>${strUtil.safeHtml(${strUtil.left($!{vehicleBrand.brandName},5)})}</strong></h5>
						</a>
					 </div>
				 </div>
				#end
				
			#else
				<div class="mtop20 paddinglr10">
					<div class="tab-box"><h6 class="text-center">暂无数据</h6></div>
				</div>
			#end			
		</div>			
    </div>	

</div>
#parse("/include/backtop.vm")
</body>
</html>