<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.yunqi.jhf.dao.VehicleDao" >

	<!-- 多表查询 所有房车分页展示列表  map形式-->
	<select id="getVehickeLists" parameterType="Map"
		resultType="com.yunqi.jhf.vo.VehicleBean">
		SELECT v.id,
		       v.vehicle_brand_id vehicleBrandId,
		       v.vehicle_name vehicleName,
		       vb.brand_name brandName,
		       v.cover,
		       v.image_id imageId,
		       v.introduction,
		       v.content,
		       v.price,
		       v.spec,
		       v.gears,
		       v.is_sencond isSencond,
		       v.is_sales isSales,
		       v.function_type functionType,
		       v.license,
		       v.bed_num bedNum,
		       v.create_time createTime,
		       v.update_time updateTime
    FROM t_vehicle v, t_vehicle_brand vb 
    WHERE v.vehicle_brand_id = vb.id
    <if test="vehicleName != null and vehicleName != ''">
			AND 	v.vehicle_name like "%${vehicleName}%"
	</if>
    order by  v.create_time desc
    limit #{page},20
	</select>
	
	<!--  平台端 获取所有房车 不分页 展示列表  map形式-->
	<select id="getVehickeListsNoPage" parameterType="Map"
		resultType="com.yunqi.jhf.vo.VehicleBean">
		SELECT v.id,
		       v.vehicle_brand_id vehicleBrandId,
		       v.vehicle_name vehicleName,
		       vb.brand_name brandName,
		       v.cover,
		       v.image_id imageId,
		       v.introduction,
		       v.content,
		       v.price,
		       v.spec,
		       v.gears,
		       v.is_sencond isSencond,
		       v.is_sales isSales,
		       v.function_type functionType,
		       v.license,
		       v.bed_num bedNum,
		       v.create_time createTime,
		       v.update_time updateTime
    FROM t_vehicle v, t_vehicle_brand vb 
    WHERE v.vehicle_brand_id = vb.id
    order by  v.create_time desc
	</select>
    
    <!-- 所有房车展示 总数据条数 -->
    <select id="getVehicleListTotalSize" parameterType="Map"
	resultType="int">
	SELECT COUNT(1) 
	FROM t_vehicle v, t_vehicle_brand vb  
	WHERE v.vehicle_brand_id = vb.id 
    </select>
    
    
    <!-- 当季促销的房车展示列表 -->
    <select id="getVehicleListYesIsSales" parameterType="Map"
	resultType="com.yunqi.jhf.vo.VehicleBean">
    select     v.id,
		       v.vehicle_brand_id vehicleBrandId,
		       v.vehicle_name vehicleName,
		       vb.brand_name brandName,
		       v.cover,
		       v.image_id imageId,
		       v.introduction,
		       v.content,
		       v.price,
		       v.spec,
		       v.gears,
		       v.is_sencond isSencond,
		       v.is_sales isSales,
		       v.function_type functionType,
		       v.license,
		       v.bed_num bedNum,
		       v.create_time createTime,
		       v.update_time updateTime
	 FROM t_vehicle v, t_vehicle_brand vb  
	 WHERE v.vehicle_brand_id = vb.id and v.is_sales =#{isSales}
	 order by  v.create_time desc
	 limit #{page},20
    </select>
    <!-- 当季促销的房车展示列表 总数据条数 -->
    <select id="getVehicleListYesIsSalesTotalSize" parameterType="Map"
	resultType="int">
	SELECT COUNT(*) 
	FROM t_vehicle v, t_vehicle_brand vb  
	WHERE v.vehicle_brand_id = vb.id and v.is_sales =#{isSales}
    </select>
     
     
     <!-- 二手置换的房车展示列表 -->
     <select id="getVehicleListYesIsSencond" parameterType="Map"
	 resultType="com.yunqi.jhf.vo.VehicleBean">
     select    v.id,
		       v.vehicle_brand_id vehicleBrandId,
		       v.vehicle_name vehicleName,
		       vb.brand_name brandName,
		       v.cover,
		       v.image_id imageId,
		       v.introduction,
		       v.content,
		       v.price,
		       v.spec,
		       v.gears,
		       v.is_sencond isSencond,
		       v.is_sales isSales,
		       v.function_type functionType,
		       v.license,
		       v.bed_num bedNum,
		       v.create_time createTime,
		       v.update_time updateTime
	 FROM t_vehicle v, t_vehicle_brand vb  
	 WHERE v.vehicle_brand_id = vb.id and v.is_sencond =#{isSencond}
	 order by  v.create_time desc
	 limit #{page},20
    </select>
    <!-- 二手置换的房车展示列表  总数据条数-->
    <select id="getVehicleListYesIsSencondTotalSize" parameterType="Map"
	resultType="int">
	SELECT COUNT(*) 
	FROM t_vehicle v, t_vehicle_brand vb  
	WHERE v.vehicle_brand_id = vb.id and v.is_sencond =#{isSencond}
    </select>
    
    <!-- 微信端 根据 房车品牌id vehicleBrandId 获取对于的房车列表-->
	<select id="getVehickeListByVehicleBrandId" parameterType="map"
		resultType="com.yunqi.jhf.vo.VehicleBean">
		SELECT v.id,
		       v.vehicle_brand_id vehicleBrandId,
		       v.vehicle_name vehicleName,
		       vb.brand_name brandName,
		       v.cover,
		       v.image_id imageId,
		       v.introduction,
		       v.content,
		       v.price,
		       v.spec,
		       v.gears,
		       v.is_sencond isSencond,
		       v.is_sales isSales,
		       v.function_type functionType,
		       v.license,
		       v.bed_num bedNum,
		       v.create_time createTime,
		       v.update_time updateTime
    FROM t_vehicle v, t_vehicle_brand vb 
    WHERE v.vehicle_brand_id = vb.id
    AND	  v.vehicle_brand_id = #{vehicleBrandId}
    order by  v.create_time desc
    limit #{page},#{size}
    </select>
    
     <!-- 微信端 根据 房车品牌id vehicleBrandId 获取对于的房车列表 总条数-->
     <select id="getVehickeListByVehicleBrandIdCount" parameterType="Map" resultType="int">
		SELECT  COUNT(1)
		FROM t_vehicle v, t_vehicle_brand vb 
        WHERE v.vehicle_brand_id = vb.id
        AND	  v.vehicle_brand_id = #{vehicleBrandId}
	</select>
</mapper>