#parse("/include/header.vm")
<title>售后网点</title> 
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true">
<link rel="stylesheet" href="${ctxPath}/css/dropload.css">
<style>
  .tablist-js {
    display: none;
  }
</style>
<script src="${ctxPath}/js/dropload.min.js"></script>
</head>

<body class="bg-f0f0f0">
	<div class="container">
    <div class="row bg-color-3c3c3c text-center">	  
			<ul class="top-li top-li-style2">
				<li #if(${near} == 0) class="active" #end><a href="${ctxPath}/aftersales/afterOutletsList.do">全部售后</a></li>
				<li #if(${near} == 1) class="active" #end><a href="${ctxPath}/aftersales/afterOutletsList.do?near=1">距离最近</a></li>
			</ul>
		</div>

  <div class="row" id="loadingIcon" style="text-align:center;margin-top:10px;color:rgba(0,0,0,.65);">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">正在获取用户位置...</span>
    <div style="margin-top:6px;">正在获取用户位置...</div>
  </div>

	<div class="row tablist-js" style="display:block;">	
	<!--#if ($afteroutletsList.list.size()>0)
		#foreach($afteroutlets in $afteroutletsList.list)
			<div class="col-xs-12 col-md-12 boximg-list-double">	
				<a href="${ctxPath}/aftersales/afteroutletsDetail.do?afterId=$!{afteroutlets.id}">
					<div class="col-xs-4 col-md-4"><img src="${strUtil.uploadPath($!{afteroutlets.cover})}"/></div>
					<div class="col-xs-8 col-md-8">
						<p class="fsize16-fw700 line1 mt5">${strUtil.safeHtml(${strUtil.left($!{afteroutlets.title},20)})}</p>
						<p class="fsize13-color555">${strUtil.safeHtml(${strUtil.left($!{afteroutlets.address},20)})}</p>
						<p class="boximg-list-double-rb mt30">
							<a href="${ctxPath}/detailMap.do?address=$!{afteroutlets.address}" class="fsize13-color787878"><em class="pull-left">
							<img src="${ctxPath}/imgs/address2.png" class="addr-img">
							## <i class="fa fa-map-marker icon-ff5000" aria-hidden="true"></i>
							$!{afteroutlets.distance}Km</em></a>
							<em class="pull-right"><a href="tel:$!{afteroutlets.phone}" class="astyle1"><i class="fa fa-phone icon-ff5000" aria-hidden="true"></i> $!{afteroutlets.phone}</a> </em>
							<em class="f-clear"></em>
						</p>
					</div>
				</a>
			</div>
		#end
    #else
    <div class="mtop20 paddinglr10">
      <div class="tab-box"><h6 class="text-center">暂无数据</h6></div>
    </div>
  #end-->

    </div>
	
</div>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
#parse("/include/backtop.vm")
<script>
  $(document).ready(function () {
    var latitude 
    var longitude

    wx.config({
      debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
      appId: '$!{wxjs_api.appId}', // 必填，公众号的唯一标识
      timestamp: '$!{wxjs_api.timestamp}', // 必填，生成签名的时间戳
      nonceStr: '$!{wxjs_api.nonceStr}', // 必填，生成签名的随机串
      signature: '$!{wxjs_api.signature}', // 必填，签名
      jsApiList: ['openLocation', 'getLocation'] // 必填，需要使用的JS接口列表
    });

    // 发送请求获取门店列表
    function getDataList(position){
      var data = {
        latitude: position.latitude,
        longitude: position.longitude
      }

      if (location.href.indexOf('near=1') !== -1){
        data.near = 1
      } else {
        data.near = 0
      }
    
      $.ajax({
        url: '${ctxPath}/aftersales/getstoreLists.do',
        method: 'post',
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(data),
        success: function(res){
          $('#loadingIcon').fadeOut()

          var list = res.data;

          if(list !== null){
            for (var i in list) {
              var cover = list[i].cover
              var index = cover.lastIndexOf('.')
              var imgType = cover.slice(index)
              
              $('.tablist-js').eq(0).append(
                '<div class="col-xs-12 col-md-12 boximg-list-double">' + 
								'<a href="${ctxPath}/aftersales/afteroutletsDetail.do?afterId='+list[i].id+'">'+
                    '<div class="col-xs-4 col-md-4">' + 
                      '<img src="http://111.230.11.240/image/' + cover.slice(0, index) + '_s' + imgType + '"/>' + 
                    '</div>' + 
                    '<div class="col-xs-8 col-md-8">' + 
                      '<p class="fsize16-fw700 line1 mt5">' + list[i].title + '</p>' + 
                      '<p class="fsize13-color555">' + list[i].address + '</p>' + 
                      '<p class="boximg-list-double-rb mt30">' + 
                        '<a href="http://api.map.baidu.com/marker?location='+ latitude +',' + longitude + '&title=' + list[i].title + '&content=' + list[i].address + '&output=html" class="fsize13-color787878">' + 
                          '<em class="pull-left">' + 
                            '<img src="${ctxPath}/imgs/address2.png" class="addr-img">' +
                            list[i].distance + 'Km' + 
                          '</em>' + 
                        '</a>' +
                        '<em class="pull-right">' + 
                          '<a href="tel:'+list[i].phone+'" class="astyle1">' + 
                            '<i class="fa fa-phone icon-ff5000" aria-hidden="true"></i>' +
                            list[i].phone + '</a>' + 
                        '</em>' +
                        '<em class="f-clear"></em>' +
                      '</p>' + 
                    '</div>' + 
                  '</a>' + 
                '</div>'
              ).fadeIn()
            }
          }
        }
      })
    }

    // 获取当前地址
    function getLocation() {
      wx.getLocation({
        type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
        success: function (res) {
          latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
          longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
          getDataList({latitude: parseFloat(latitude), longitude: parseFloat(longitude)})
        },
        cancel: function () {
          getDataList({latitude: null, longitude: null})
        }
      });
    }

    wx.ready(function () {
      getLocation();
    });
  })
</script>
</script>
#parse("/include/footer.vm")
</body>
</html>