#parse("/include/header.vm")
<title>热卖专区</title> 
<style>
	.hot-list-event-container {
		width: 100%;
    height: 100%;
    display: inline-block;
		position: relative;
	}

	.hot-list-event-modal {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 90.5%;
		background: rgba(0, 0, 0, .35);
	}

	.hot-list-event-text {
		color: rgba(255, 255, 255, 0.85);
		text-align: center;
	}

	h3.hot-list-event-text {
		margin-top: 8%;
	}

	p.hot-list-event-text {
		margin-top: 2%;
	}

	.end-event-button, .active-event-button {
		display: inline-block;
		height: 30px;
		width: 30%;
		border-radius: 20px;
		line-height: 30px;
		font-size: 14px;
	}

	.end-event-button {
		background: #ebebeb;
		color: #333;
	}

	.active-event-button {
		background:#ff5000;
		color:#fff;
	}
</style>
</head>

<body class="bg-f0f0f0">

<div class="container">
<!--焦点图-->
#if($eventList.size() > 0)
	<div class="row">
		<div class="swiper-container" style="height:150px;">
		  <div class="swiper-wrapper">
			#set($i = 0)
			#foreach($event in ${eventList})
				<div class="swiper-slide">
					<!-- <a href="${ctxPath}/front/product/productList.do?eventId=$!{event.id}"> -->
						<img src="${strUtil.uploadPath($!{event.cover})}" class="height1000"/>
						<!-- <em class="btnstyle1 mbottom10">
							<i class="fa fa-chevron-right icon-color-1e1e1e" aria-hidden="true"></i>
						</em> -->
					<!-- </a>	 -->
				</div>
			#end			
		  </div>
		  <div class="swiper-pagination"></div>
		</div>
	</div>
#end	
<!--焦点图END-->	
<!--特卖推荐-->
<div class="row bg-color-ff5000 text-center">	  
	<img src="${ctxPath}/imgs/rmtj.png" class="mesimg-style1" />
	<div class="box-list-double box-list-double5">
		 #foreach($eventprod in ${eventprodList})
			<div class="box-list-double-main">
				 <a href="${ctxPath}/front/product/getProductDetil.do?productId=$!{eventprod.productId}&eventprodId=${eventprod.id}">
					 <div class="box-list-double-main-box boxlist-double1">
						<p><img src="${strUtil.uploadPath($!{eventprod.cover})}" class="height200" /></p>
						<div class="boxlist-double1-msg">
							<h5><em class="font-color-ff5000">【特卖推荐】</em>${strUtil.safeHtml(${strUtil.left($!{eventprod.title},12)})}</h5>
							<h5><em class="fontstyle7">￥${strUtil.rmb($!{eventprod.eventPrice})}</em></h5>
						</div>	
					 </div>
				 </a>
			 </div>
		#end		
	</div>	 
</div>	
<!--特卖推荐END-->
<!--精彩活动-->
<div class="row text-center">	  
	<p class="bg-color-1e1e1e"><img src="${ctxPath}/imgs/jchd.png" class="mesimg-style1"></p>
	<div class="boxstyle2">
		#foreach($eventall in ${eventAllList})
			<a class="hot-list-event-container" #if($eventall.isShow == "Y") href="${ctxPath}/front/product/productEventList.do?eventId=$!{eventall.id}" #end>
				<img src="${strUtil.uploadPath($!{eventall.cover})}">
				<div class="hot-list-event-modal">
					<h3 class="hot-list-event-text">$!{eventall.title}</h3>
					#if($eventall.isShow == "N")
						<span class="end-event-button">活动已结束</span>
					#else
						<span class="active-event-button">活动进行中</span>
					#end	
					<p class="hot-list-event-text">$strUtil.showTimeHour($!{eventall.startTime}) - $strUtil.showTimeHour($!{eventall.endTime})</p>
				</div>
			</a>
		#end
	</div>	
</div>
<!--精彩活动END-->	
</div>
	  
<div 
	class="modal fade bs-example-modal-sm"
	tabindex="-1"
	role="dialog"
	aria-labelledby="mySmallModalLabel"
	id="myModal"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
		<img src="${ctxPath}/imgs/loading.gif"/>
    </div>
  </div>
</div>

<div class="footer-hei2"></div>
<div class="fixed-btn1e1e1e-box">
	<div class="col-xs-12 col-md-12">
		<div class="col-xs-3 col-md-3">
			<a href="${ctxPath}/wechatIndex.do" class="bottom-nav">
				<img src="${ctxPath}/imgs/19-01.png"/>
				<em class="bottom-nav-em">首页</em>
			</a>
		</div>
		<div class="col-xs-3 col-md-3">
			<a href="${ctxPath}/shopping/shouYe.do" class="bottom-nav active">
				<img src="${ctxPath}/imgs/20-01.png"/>
				<em class="bottom-nav-em">商城</em>
			</a>
		</div>
		<div class="col-xs-3 col-md-3">
			<a href="${ctxPath}/share/shareList.do?suserName=null" class="bottom-nav">
				<img src="${ctxPath}/imgs/23-01.png"/>
				<em class="bottom-nav-em">分享</em>
			</a>
		</div>
		<div class="col-xs-3 col-md-3">
			<a href="${ctxPath}/usercenter/userCenterList.do" class="bottom-nav">
				<img src="${ctxPath}/imgs/25-01.png"/>
				<em class="bottom-nav-em">我的</em>
			</a>
		</div>
	</div>
</div>


<script> 
var mySwiper = new Swiper('.swiper-container',{
	pagination : '.swiper-pagination',
	autoplay: 5000,
	loop : true,
})
</script>

</body>
</html>	